[submodule "site-lisp/dash"]
        path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/bash-completion"]
        path = site-lisp/bash-completion
        url = https://github.com/szermatt/emacs-bash-completion.git
	
