[submodule "site-lisp/jslime"]
        path = site-lisp/jslime
        url = https://github.com/vkz/jslime.git

[submodule "site-lisp/projectile"]
	path = site-lisp/projectile
	url = https://github.com/vkz/projectile.git

[submodule "site-lisp/nodejs-repl.el"]
	path = site-lisp/nodejs-repl.el
	url = https://github.com/vkz/nodejs-repl.el.git

[submodule "site-lisp/hydra"]
	path = site-lisp/hydra
	url = https://github.com/abo-abo/hydra.git

[submodule "site-lisp/pdf-mode.el"]
	path = site-lisp/pdf-mode.el
	url = git@github.com:mishoo/pdf-mode.el.git
