/elpa/
/.mc-lists.el
/.places
/auto-save-list/
/backups/
/eshell/
/history
/npm-debug.log
/projectile-bookmarks.eld
/projectile.cache
/recentf
/semanticdb/
/#setup-helm.el#
/.backup/
/.sx/
/abbrev_defs
/bookmarks
/places
/.projectile-bookmarks.eld
/.recentf
/.savehist
